.menu {
  color: #333;
  font-size: 14px;
  line-height: 1.5715;
  list-style: none;
  transition: all 0.3s;
  overflow: hidden;
  &-item {
    padding: 8px;
    transition: all 0.3s;
    border-radius: 2px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #fff;
    }
    &-active {
      font-weight: bold;
      background-color: #fff;
    }
  }

  &-submenu {
    &-title {
      padding: 8px 32px;
      font-weight: bold;
      position: relative;
      cursor: pointer;
    }
    &-arrow {
      position: absolute;
      left: 4px;
      top: 50%;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      &::before,
      &::after {
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        content: '';
        position: absolute;
        top: 12px;
        width: 8px;
        height: 1px;
        border-radius: 2px;
        background: #333;
      }
      &::before {
        transform: rotate(-45deg);
        left: 10px;
      }
      &::after {
        transform: rotate(45deg);
        left: 5px;
      }
    }
  }
  &-submenu-open {
    .menu-submenu-arrow {
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &-hidden {
    display: none;
  }
}
