@import '../../styles/color.scss';

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  &-content {
    flex: 1;
  }
  &-sider {
    height: 100%;
  }
  &-dark-sider {
    background-color: $dark-sider-bg;
  }
}

.layout-horizontal {
  flex-direction: row;
}
