.tasks {
  height: 100%;
  display: flex;
  .content {
    flex: 0 0 55.5%;
  }

  .header {
    font-size: 24px;
    font-weight: bold;
    padding: 0 16px;
    line-height: 60px;
  }

  .task-list {
    padding: 0 16px;
  }

  .task-detail {
    flex: 0 0 44.5%;
    border-left: 1px solid #eee;
    height: 100%;
  }
}
